.color-1 {
	background-color: rgb(255,255,255);
}

.color-2 {
	background-color: rgb(0,193,181);
}

.color-3 {
	background-color: rgb(255,101,25);
}

.color-4 {
	background-color: rgb(255,190,0);
}

.color-5 {
	background-color: rgb(29,63,187)
}

.color-6 {
	background-color: rgb(227,5,18);
}

.default-typography {
	font-weight: bold; 
	}

	.pink-color {
		color: #e568ac;
	}

	.white-color {
		color: #fff;
	}